<div class="login-block signup-wrapper">
  <h2>Sign up</h2>
  <div class="card">
    <div class="row">
      <div class="col-sm-12">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%#= devise_error_messages! %>

          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :username %><br />
            <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :role %><br/>
            <%= f.select :role, options_for_select([['User', 'user'], ['Admin', 'admin']]), { prompt: true }, autofocus: true, class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: 'btn btn-info' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<% if resource&.errors.full_messages.present? %>
  <% resource.errors.full_messages.each do |f| %>
    <script type="text/javascript">
      toastr.error('<%= f %>');
    </script>
  <% end %>
<% end %>
