<div class="form-group row">
  <label class="col-sm-4 control-label"> Organization ID </label>
  <div class="col-sm-4">
    <%= f.select :organization_id, Member::HvhcDim.all.map { |dim| [dim.organizational_id, dim.organizational_id] }, {prompt: 'Select One'}, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-4 control-label"> Member ID </label>
  <div class="col-sm-4">
    <%= f.select :member_id, Member::HvhcDim.all.map { |dim| [dim.member_id, dim.member_id] }, {prompt: 'Select One'}, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-4 control-label"> Provider Number </label>
  <div class="col-sm-4">
    <%# <%= f.select :prvdr_num_ccn, CmsProviderOfService.all.map { |pvdr| [pvdr.prvdr_num, pvdr.prvdr_num] }, {prompt: 'Select One'}, class: 'form-control' %> 
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-4 control-label"> Cross Reference Provider Number </label>
  <div class="col-sm-4">
    <%= f.text_field :cross_ref_provider_number, value: @hospital_list.cross_ref_provider_number, maxlength: 50, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-4 control-label"> Provider Category Number </label>
  <div class="col-sm-4">
    <%= f.text_field :prvdr_ctgry_sbtyp_cd, value: @hospital_list.prvdr_ctgry_sbtyp_cd, maxlength: 50, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-4 control-label"> Provider Category SubType Code Number </label>
  <div class="col-sm-4">
    <%= f.text_field :prvdr_ctgry_sbtyp_cd_num, value: @hospital_list.prvdr_ctgry_sbtyp_cd_num, maxlength: 50, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-4 control-label"> Fac Name Friendly </label>
  <div class="col-sm-4">
    <%= f.text_field :fac_name_friendly, value: @hospital_list.fac_name_friendly, maxlength: 50, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-4 control-label"> Fac Name </label>
  <div class="col-sm-4">
    <%= f.text_field :fac_name, value: @hospital_list.fac_name, maxlength: 50, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-4 control-label"> Street Address </label>
  <div class="col-sm-4">
    <%= f.text_field :st_adr, value: @hospital_list.st_adr, maxlength: 50, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-4 control-label"> City </label>
  <div class="col-sm-4">
    <%= f.text_field :city_name, value: @hospital_list.city_name, maxlength: 50, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-4 control-label"> Zip Code </label>
  <div class="col-sm-4">
    <%= f.text_field :zip_cd, value: @hospital_list.zip_cd, maxlength: 10, class: 'form-control' %>
  </div>
</div>
<div class="form-group creditLimit_form_group row">
  <label class="col-sm-4 control-label"> Zip Text </label>
  <div class="col-sm-4">
    <%= f.text_field :zip_txt, value: @hospital_list.zip_txt, maxlength: 10, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-4 control-label"> State Code </label>
  <div class="col-sm-4">
    <%= f.text_field :state_cd, value: @hospital_list.state_cd, maxlength: 2, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-4 control-label"> AHA System Name </label>
  <div class="col-sm-4">
    <%= f.text_field :aha_sysname, value: @hospital_list.aha_sysname, maxlength: 50, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-4 control-label"> AHA ID </label>
  <div class="col-sm-4">
    <%= f.text_field :aha_id, value: @hospital_list.aha_id, maxlength: 15, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-4 control-label"> CMS Report </label>
  <div class="col-sm-4">
    <%= f.text_field :cms_report, value: @hospital_list.cms_report, maxlength: 15, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-4 control-label"> HRR Number </label>
  <div class="col-sm-4">
    <%= f.text_field :hrrnum, value: @hospital_list.hrrnum, maxlength: 15, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-4 control-label"> HSA Number </label>
  <div class="col-sm-4">
    <%= f.text_field :hsanum, value: @hospital_list.hsanum, maxlength: 15, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-4 control-label"> Notes </label>
  <div class="col-sm-4">
    <%= f.text_area :notes, value: @hospital_list.notes, maxlength: 150, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-4 control-label"> FlagShip Hospital </label>
  <div class="col-sm-4">
    <%= f.check_box :flagship_hosp %>
  </div>
</div>

<div class="form-group gcrud-form-group">
  <div id="report-error" class="report-div error bg-danger" style="display:none"></div>
  <div id="report-success" class="report-div success bg-success" style="display:none"></div>
</div>
<div class="form-group gcrud-form-group button-block-field row">
  <div class="col-sm-8 offset-sm-4">
    <button class="btn btn-secondary btn-success b10" type="submit" id="form-button-save">
      <i class="el el-ok"></i>
      <%= button_text %> Hospital
    </button>
    <button class="btn btn-secondary cancel-button b10" type="reset" id="cancel-button">
      <i class="el el-warning-sign"></i>
      Cancel
    </button>
  </div>
</div>

<script>
  $(function() {
    $('#member_hospital_list_flagship_hosp').bootstrapToggle({
      on: 'Yes',
      off: 'No',
      offstyle: 'danger',
      onstyle: 'success'
    });
  })
</script>
