<div class="container gc-container edit-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="table-label">
        <div class="floatL l5">
          Edit Hospital
        </div>
        <div class="clear"></div>
      </div>
      <div class="form-container table-container">
        <%= form_for @hospital_list, html: { id: 'hospital_list' } do |f| %>
          <%= render 'hospital_form', f: f, button_text: 'Update' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

