<% if @hospital_lists.present? %>
  <div class="container-fluid gc-container">
    <div class="success-message hidden"></div>
    <div class="">
      <div class="table-section">
        <div class="table-label">
          <div class="floatL l5">
            Member Hospital
          </div>
          <div class="clear"></div>
        </div>
        <div class="table-container">
          <form action="" method="post" autocomplete="off" id="gcrud-search-form" accept-charset="utf-8">
            <div class="header-tools">
              <div class="floatL t5">
                <a class="btn btn-default btn-outline-dark" href="<%= new_member_hospital_list_path %>">
                  <i class="el el-plus"></i> Add Hospital
                </a>
                <a href="javascript:void(0);" class="btn btn-default btn-outline-dark gc-refresh">
                <i class="el el-refresh"></i>
                Refresh
                </a>
              </div>
              <div class="floatR">
                <a class="btn btn-default btn-outline-dark t5" data-url="" href="javascript:void(0);">
                  <i class="el el-share floatL t3"></i>
                  <span class="hidden-xs floatL l5">
                    Export
                  </span>
                  <div class="clear"></div>
                </a>
                <a class="btn btn-default btn-outline-dark t5 gc-print" data-url="" href="javascript:void(0);">
                  <i class="el el-print floatL t3"></i>
                  <span class="hidden-xs floatL l5">
                    Print
                  </span>
                  <div class="clear"></div>
                </a>
                <a class="btn search-button t5 btn-primary" href="javascript:void(0);">
                <i class="el el-search"></i>
                <input type="text" name="search" class="search-input">
                </a>
              </div>
              <div class="clear"></div>
            </div>
            <div class="scroll-if-required table-responsive hvhc-table">
              <table class="table table-bordered table-striped grocery-crud-table table-hover">
                <thead>
                  <tr>
                    <th colspan="2">
                      Actions
                    </th>
                    <th class="column-with-ordering" scope="col">Organization ID</th>
                    <!-- <th class="column-with-ordering" scope="col">Member ID</th> -->
                    <th class="column-with-ordering" scope="col">Provider Number</th>

                    <!-- <th class="column-with-ordering" scope="col">Cross Reference Provider Num</th>
                    <th class="column-with-ordering" scope="col">Provider Category SubType Code</th>
                    <th class="column-with-ordering" scope="col">Provider Category SubType Code Num</th> -->

                    <th class="column-with-ordering" scope="col">Facility Friendly</th>
                    <th class="column-with-ordering" scope="col">Facility Name</th>
                    <th class="column-with-ordering" scope="col">Street Address</th>
                    <th class="column-with-ordering" scope="col">City</th>
                    <th class="column-with-ordering" scope="col">State Code</th>
                    <th class="column-with-ordering" scope="col">Zip Code</th>
                    <!-- <th class="column-with-ordering" scope="col">Zip Text</th> -->
                    <!-- <th class="column-with-ordering" scope="col">AHA System Name</th>
                    <th class="column-with-ordering" scope="col">AHA ID</th>

                    <th class="column-with-ordering" scope="col">CMS Report</th>
                    <th class="column-with-ordering" scope="col">HRR Number</th>
                    <th class="column-with-ordering" scope="col">HSA Number</th>
                    <th class="column-with-ordering" scope="col">Notes</th>
                    <th class="column-with-ordering" scope="col">Last Updated At</th> -->
                    <th class="column-with-ordering" scope="col">FlagShip Hospital</th>
                  </tr>
                  <!-- <tr class="filter-row gc-search-row">
                    <td class="no-border-right ">
                      <div class="floatL t5">
                        <input type="checkbox" class="select-all-none">
                      </div>
                    </td>
                    <td class="no-border-left ">
                      <div class="floatL">
                        <a href="javascript:void(0);" title="Delete" class="hidden btn btn-outline-dark delete-selected-button">
                        <i class="el el-remove text-danger"></i>
                        <span class="text-danger">Delete</span>
                        </a>
                      </div>
                      <div class="">
                        <a href="javascript:void(0);" class="btn btn-default btn-outline-dark gc-refresh">
                        <i class="el el-refresh"></i>
                        Refresh
                        </a>
                      </div>
                      <div class="clear"></div>
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search Organization" name="organization_id">
                    </td>
                    <!-- <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search Member" name="member">
                    </td> -->
                    <!-- <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search Provider" name="provider">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search Cross Ref Provider Num" name="ref_prvd_num">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search Provider category Subtype code" name="pvrd_cate_sub_type_code">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search Provider category Subtype code Num" name="pvrd_cate_sub_type_code_num">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search Fac Name Friendly" name="fac_name_friendly">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search Fac Name" name="fac_name">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search Street Address" name="street_address">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search City Name" name="city_name">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search State Code" name="state_code">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search Zip" name="zip_code">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search Zip Text" name="zip_text">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search AHA System Name" name="aha_sys_name">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search AHA" name="aha_id">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search CMS Report" name="cms_report">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search HRR Num" name="hrrnum">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search HSA Num" name="hsanum">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search Notes" name="notes">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search Last Updated" name="last_date_updated">
                    </td>
                    <td>
                      <input type="text" class="form-control searchable-input floatL" placeholder="Search FlagShip" name="flagship_hosp">
                    </td>
                  </tr> -->
                </thead>
                <tbody>
                  <% @hospital_lists.each do |hospital_list| %>
                    <tr>
                      <td>
                       <input type="checkbox" class="select-row" data-id= <%= hospital_list.member_id %> />
                      </td>
                      <td><%= render 'action_list', hospital_list: hospital_list %></td>
                      <td><%= hospital_list.organization_id %></td>
                      <!-- <td><%= hospital_list.member_id %></td> -->
                      <td><%= hospital_list.prvdr_num_ccn %></td>

                      <!-- <td><%= hospital_list.cross_ref_provider_number %></td>
                      <td><%= hospital_list.prvdr_ctgry_sbtyp_cd %></td>
                      <td><%= hospital_list.prvdr_ctgry_sbtyp_cd_num %></td> -->

                      <td><%= hospital_list.fac_name_friendly %></td>
                      <td><%= hospital_list.fac_name %></td>
                      <td><%= hospital_list.st_adr %></td>
                      <td><%= hospital_list.city_name %></td>
                      <td><%= hospital_list.state_cd %></td>
                      <td><%= hospital_list.zip_cd %></td>
                      <!-- <td><%= hospital_list.zip_txt %></td> -->
                      <!-- <td><%= hospital_list.aha_sysname %></td>
                      <td><%= hospital_list.aha_id %></td> -->

                      <!-- <td><%= hospital_list.cms_report %></td>
                      <td><%= hospital_list.hrrnum %></td>
                      <td><%= hospital_list.hsanum %></td>
                      <td><%= hospital_list.notes %></td>
                      <td><%= hospital_list.last_date_updated %></td> -->
                      <td><%= hospital_list.flagship_hosp %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <!-- Table Footer -->
            <div class="footer-tools">
              <!-- "Displaying 1 to 10 of 116 items" -->
              <div class="floatR r10 displaying-paging-items">
                <% page_no = params[:page].present? ? (params[:page].to_i - 1) : 0 %>
                Displaying <span class="paging-starts"><%= page_starts_with(page_no, ::Member::HospitalList::PER_PAGE) %></span> to
                <span class="paging-ends"><%= page_ends_with(page_no, ::Member::HospitalList::PER_PAGE, @hospital_lists.count) %></span> of
                <span class="current-total-results"><%= @count %></span> items
                <span class="full-total-container hidden">
                  (filtered from <span class="full-total"><%= @count %></span> total entries)
                </span>
              </div>
              <!-- End of "Displaying 1 to 10 of 116 items" -->
              <div class="clear"></div>
            </div>
            <!-- End of: Table Footer -->
          </form>
          <ul class="pagination mt20">
            <%= paginate @results, theme: 'twitter-bootstrap-4' %>
          </ul>
        </div>
      </div>
      <!-- Delete confirmation dialog -->
      <div class="delete-confirmation modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete</h5>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
              <p>Are you sure that you want to delete this record?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger delete-confirmation-button">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Delete confirmation dialog -->
    </div>
  </div>
<% else %>
  <div> No record found.</div>
<% end %>
