<% if @hospital_list.present? %>
  <div class="container gc-container">
    <div class="row">
      <div class="col-md-12">
        <div class="table-label">
          <div class="floatL l5">
            View Hospital
          </div>
          <div class="clear"></div>
        </div>
        <div class="form-container table-container">
          <div class="form-group row">
            <label class="col-sm-3 control-label">
            Organisation ID:123
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-customerName" class="readonly_label">
                <%= @hospital_list.organization_id %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            Member ID:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-contactLastName" class="readonly_label">
                <%= @hospital_list.member_id %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            Provider Number:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-contactFirstName" class="readonly_label">
                <%= @hospital_list.prvdr_num_ccn %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            Cross Reference Provider Number:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-contactFirstName" class="readonly_label">
                <%= @hospital_list.cross_ref_provider_number %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            Provider Category SubType Code:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-contactFirstName" class="readonly_label">
                <%= @hospital_list.prvdr_ctgry_sbtyp_cd %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            Provider Category SubType Code Number:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-contactFirstName" class="readonly_label">
                <%= @hospital_list.prvdr_ctgry_sbtyp_cd_num %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            Fac Name Friendly:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-phone" class="readonly_label">
                <%= @hospital_list.fac_name_friendly %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            Fac Name:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-addressLine1" class="readonly_label">
                <%= @hospital_list.fac_name %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            Street Address:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-addressLine2" class="readonly_label">
                <%= @hospital_list.st_adr %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            City Name:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-city" class="readonly_label">
                <%= @hospital_list.city_name %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            Zip Code:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-state" class="readonly_label">
                <%= @hospital_list.zip_cd %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            Zip Text:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-state" class="readonly_label">
                <%= @hospital_list.zip_txt %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            State Code:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-state" class="readonly_label">
                <%= @hospital_list.state_cd %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            AHA System Name:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-postalCode" class="readonly_label">
                <%= @hospital_list.aha_sysname %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            AHA ID:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-postalCode" class="readonly_label">
                <%= @hospital_list.aha_id %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            CMS Report:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-postalCode" class="readonly_label">
                <%= @hospital_list.cms_report %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            HRR Number:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-postalCode" class="readonly_label">
                <%= @hospital_list.hrrnum %>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-3 control-label">
            HSA Number:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-postalCode" class="readonly_label">
                <%= @hospital_list.hsanum %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            Notes:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-postalCode" class="readonly_label">
                <%= @hospital_list.notes %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label">
            Last Updated At:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-postalCode" class="readonly_label">
                <%= @hospital_list.last_date_updated %>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-3 control-label">
            FlagShip Hospital:
            </label>
            <div class="col-sm-9 read-row">
              <div id="field-postalCode" class="readonly_label">
                <%= @hospital_list.flagship_hosp %>
              </div>
            </div>
          </div>

          <div class="form-group gcrud-form-group">
            <div id="report-error" class="report-div error"></div>
            <div id="report-success" class="report-div success"></div>
          </div>
          <div class="form-group gcrud-form-group">
            <div class="col-sm-offset-3 col-sm-7">
              <a class="btn btn-secondary cancel-button" type="button" href="<%= member_hospital_lists_path %>">
                <i class="el el-return-key"></i>
                Back to list
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container gc-container">
    <div class="row">
      No Record Found.
    </div>
  </div>
<% end %>
