<div class="only-desktops" style="white-space: nowrap">
  <a class="btn btn-default btn-outline-dark" href="<%= edit_hvhc_member_hospital_list_path(hospital_list.member_id) %>">
    <i class="el el-pencil"></i>
    Edit
  </a>
  <div class="btn-group">
    <button type="button" class="btn btn-default btn-outline-dark gc-bootstrap-dropdown dropdown-toggle">
      More
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu">
      <a href="<%= hvhc_member_hospital_list_path(hospital_list) %>" class="dropdown-item">
        <i class="el el-eye-open"></i> View
      </a>
      <a href="/demo/bootstrap_theme_v4/clone/103" class="dropdown-item">
        <i class="el el-fork"></i> Clone
      </a>
      <a data-target="/demo/bootstrap_theme_v4/delete/103" href="javascript:void(0)" title="Delete" class="delete-row dropdown-item">
        <i class="el el-remove text-danger"></i>
        <span class="text-danger">Delete</span>
      </a>
    </div>
  </div>
</div>
