<div class="container gc-container edit-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="table-label">
        <div class="floatL l5">
          Edit Hospital
        </div>
        <div class="clear"></div>
      </div>
      <div class="form-container table-container">
        <%= form_for :hospital_list, url: hvhc_member_hospital_list_path(@hospital_list.member_id), method: :patch, html: { id: 'hospital_list' } do |f| %>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
            Organization ID123
          </label>
          <div class="col-sm-9">
            <%= f.text_field :organization_id, value: @hospital_list.organization_id, maxlength: 50, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
            Member ID
          </label>
          <div class="col-sm-9">
            <%= f.text_field :member_id, value: @hospital_list.member_id, maxlength: 50, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
            Provider Number CCN
          </label>
          <div class="col-sm-9">
            <%= f.text_field :prvdr_num_ccn, value: @hospital_list.prvdr_num_ccn, maxlength: 50, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
            Fac Name Friendly
          </label>
          <div class="col-sm-9">
            <%= f.text_field :fac_name_friendly, value: @hospital_list.fac_name_friendly, maxlength: 50, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
            Fac Name
          </label>
          <div class="col-sm-9">
            <%= f.text_field :fac_name, value: @hospital_list.fac_name, maxlength: 50, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
            Street Address
          </label>
          <div class="col-sm-9">
            <%= f.text_field :st_adr, value: @hospital_list.st_adr, maxlength: 15, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
            City
          </label>
          <div class="col-sm-9">
            <%= f.text_field :city_name, value: @hospital_list.city_name, maxlength: 50, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
            Zip Code
          </label>
          <div class="col-sm-9">
            <%= f.text_field :zip_cd, value: @hospital_list.zip_cd, maxlength: 15, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group creditLimit_form_group row">
          <label class="col-sm-3 control-label">
            Zip Text
          </label>
          <div class="col-sm-9">
            <%= f.text_field :zip_txt, value: @hospital_list.zip_txt, maxlength: 15, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
            State Code
          </label>
          <div class="col-sm-9">
            <%= f.text_field :state_cd, value: @hospital_list.state_cd, maxlength: 15, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
            AHA ID
          </label>
          <div class="col-sm-9">
            <%= f.text_field :aha_id, value: @hospital_list.aha_id, maxlength: 15, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group gcrud-form-group">
          <div id="report-error" class="report-div error bg-danger" style="display:none"></div>
          <div id="report-success" class="report-div success bg-success" style="display:none"></div>
        </div>
        <div class="form-group gcrud-form-group button-block-field">
          <div class="col-sm-offset-3 col-sm-7">
            <button class="btn btn-secondary btn-success b10" type="submit" id="form-button-save">
              <i class="el el-ok"></i>
              Update changes
            </button>
            <button class="btn btn-info b10" type="button" id="save-and-go-back-button">
              <i class="el el-return-key"></i>
              Update and go back to list
            </button>
            <button class="btn btn-secondary cancel-button b10" type="button" id="cancel-button">
              <i class="el el-warning-sign"></i>
              Cancel
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
