<div class="container gc-container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-label">
        <div class="floatL l5">
          View Hospital
        </div>
        <div class="clear"></div>
      </div>
      <div class="form-container table-container">
        <div class="form-group row">
          <label class="col-sm-3 control-label">
          Organisation ID:
          </label>
          <div class="col-sm-9 read-row">
            <div id="field-customerName" class="readonly_label">
              <%= @hospital_list.organization_id %>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
          Member ID:123
          </label>
          <div class="col-sm-9 read-row">
            <div id="field-contactLastName" class="readonly_label">
              <%= @hospital_list.member_id %>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
          Provider Number CCN:
          </label>
          <div class="col-sm-9 read-row">
            <div id="field-contactFirstName" class="readonly_label">
              <%= @hospital_list.prvdr_num_ccn %>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
          Fac Name Friendly:
          </label>
          <div class="col-sm-9 read-row">
            <div id="field-phone" class="readonly_label">
              <%= @hospital_list.fac_name_friendly %>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
          Fac Name:
          </label>
          <div class="col-sm-9 read-row">
            <div id="field-addressLine1" class="readonly_label">
              <%= @hospital_list.fac_name %>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
          Street Address:
          </label>
          <div class="col-sm-9 read-row">
            <div id="field-addressLine2" class="readonly_label">
              <%= @hospital_list.st_adr %>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
          City Name:
          </label>
          <div class="col-sm-9 read-row">
            <div id="field-city" class="readonly_label">
              <%= @hospital_list.city_name %>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
          Zip Code:
          </label>
          <div class="col-sm-9 read-row">
            <div id="field-state" class="readonly_label">
              <%= @hospital_list.zip_cd %>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
          Zip Text:
          </label>
          <div class="col-sm-9 read-row">
            <div id="field-state" class="readonly_label">
              <%= @hospital_list.zip_txt %>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
          State Code:
          </label>
          <div class="col-sm-9 read-row">
            <div id="field-state" class="readonly_label">
              <%= @hospital_list.state_cd %>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">
          AHA ID:
          </label>
          <div class="col-sm-9 read-row">
            <div id="field-postalCode" class="readonly_label">
              <%= @hospital_list.aha_id %>
            </div>
          </div>
        </div>

        <div class="form-group gcrud-form-group">
          <div id="report-error" class="report-div error"></div>
          <div id="report-success" class="report-div success"></div>
        </div>
        <div class="form-group gcrud-form-group">
          <div class="col-sm-offset-3 col-sm-7">
            <button class="btn btn-secondary cancel-button" type="button" onclick="window.history.back();">
              <i class="el el-return-key"></i>
              Back to list
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
