
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="site_title">
      <%= image_tag 'LandingPageImage', class: 'site_title', alt: 'HVHC Applications' %>


    <p class="lead">Specialty Apps for PMO staff.....</p>
      </div>

  </div>

</div>
