.login-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin: 70px auto;

  h2 {
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  .card {
    display: table;
    width: 100%;
    padding: 24px;
    background: #f5f5f5;
  }
}


.authentication-block {
  padding: 0;
  margin: 20px 0 0;
  display: inline-block;

  li {
    list-style-type: none;
    float: left;
    margin-right: 15px;

    a {
      color: #fff;
      background-color: #17a2b8;
      border-color: #17a2b8;
      border-radius: 15px;
      padding:8px 36px;
    }

    &:last-child {
      padding-left: 0;
    }
  }
}

.actions {
  input {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    width: 100%;
  }
}

.signup-wrapper {
  width: 50%;
}


@media screen and (max-width: 767px) {
  .login-block {
    width: 100%;
  }

  .authentication-block li a {
    padding: 8px 16px;
  }
}
