.alert-notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.navbar-header {
  margin-bottom: 15px;
  box-shadow: 0px 1px 11px #d5d5d5;

  nav {
    background: #f3f3f3;

    .navbar-brand {
      width: 40%;
      color: #fff;
      font-size: 30px;
      font-weight: 700;

      &:hover {
        color: #fff;
      }
    }
  }

  .navbar-toggler {
    float: right;
    margin-top: 10px;
  }
}

.hvhc-table {
 table {
   th {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
  }

  td {
    font-size: 13px;
  }
 }
}

.table-label {
  background: #2f8dff;
  color: #fff;
  width: 100%;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

.gc-container .table-label {
  font-size: 1rem;
}

.form-container {
  padding: 10px;
  border: 1px solid #DDD;
}

.gc-container .form-group label {
  text-align: right;
  font-weight: 700;
  padding-top: 0;
}

.edit-wrapper {
  margin-bottom: 25px;
}

.floatR {
  float: right !important;
}

.floatL {
  float: left !important;
}

.t5 {
  margin-top: 5px;
}

.gc-container .table-label {
  font-size: 1rem;
}

.table-label {
  display: inline-block;
  width: 100%;
  padding: 5px;
  text-align: left;
}

.l5 {
  margin-left: 5px;
}

.hidden {
  display: none !important;
}

.gc-container .header-tools {
  padding: 5px 5px 10px 5px;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}

.header-tools {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.gc-container .search-button input.search-input {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  width: 0px;
  border: none !important;
  background: transparent;
}

.gc-container .search-button input.search-input-big {
  width: 140px;
}

@media screen and (max-width: 767px) {

  .navbar-header {
    .navbar {
      justify-content: center;
    }
  }

  .gc-container .form-group label {
    text-align: left;
  }

  .edit-wrapper {
    margin-bottom: 95px;
  }

  .button-block-field {
    button {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .pagination {
    width: 100%;
  }

  .navbar-collapse {
    display: inline-block;
    width: 100%;

    .nav {
      display: inline-block;
      width: 100%;
      margin-top: 10px;

      li {
        a {
          color: #000;
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
        }

        &.active {
          background: #17a2b8;
          a {
            color: #fff !important;
          }
        }
      }
    }
  }

}

.gc-container .btn-group.open > .dropdown-menu {
  display: block;
}

.mt20 {
  margin-top: 20px;
}

.drop-down-ul {
  position: absolute !important;
  padding: 0 11px;
}

.drop-down-list {
  border-bottom: 1px solid #c2c4cc;
  line-height: 24px;
  padding: 5px 0px;
}

.field_with_errors {
  display: inline;

  input, select {
    border: 1px solid #dc3545;
  }
}

.form-group span {
  color: red;
  font-size: 14px;
}

.logo {
  max-width: 36%;
}

@media screen and (max-width: 767px) {
  .navbar-header .navbar {
    display: inline-block;
    width: 100%;
  }

  .navbar-brand {
    float: left;

    img {
      max-width: 100%;
    }
  }

  .header-right {
    float: right;
    padding-top: 12px;

    p {
      a {
        padding: 0 15px;
      }
    }
  }
}

.toggle-group label{
  line-height: 33px;
  padding: 0 5px;
}
.site_title{
  font-family: 'Oswald', sans-serif !important;
  text-align: center;
  padding: 20px 0 20px 0;
  }
