<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="<%= root_path %>">
      <%= image_tag 'hvhc_logo', class: 'logo', alt: 'HVHC' %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav  ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <a class="nav-link" href="<%= root_path %>">Home</a>
          </li>
          <li class="nav-link">
            <%= link_to 'Hospital List', member_hospital_lists_path %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%#= link_to 'Profile', 'javascript:void();', class: 'dropdown-item' %>
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              <!-- <div class="dropdown-divider"></div> -->
              <!-- <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: 'navbar-link' %> |
            <%= link_to "Login", new_user_session_path, class: 'navbar-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
