<!DOCTYPE html>
<html>
  <head>
    <title>HVHC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'fevicon' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="navbar-header">
      <%= render 'layouts/header' %>
    </div>

    <div class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>

    <script type='text/javascript'>
      var unique_hash = '07428aa561ea69290b7e725a466d5f4c';
    </script>
  </body>
</html>
